<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Banking</h3>
          </div>
          <ul class="link-list">
            <li><a href="/why-us/">Why Choose Us</a></li>
            <li><a href="#">Investing</a></li>
            <li><a href="#">Lending</a></li>
            <li><a href="#">Accounts</a></li>
            <li><a href="#">Rates/Fees</a></li>
          </ul>
          <div class="footer-header">
            <h3>Partners</h3>
          </div>

          <ul class="link-list">
            <li><a href="#">Insurance</a></li>
            <li><a href="#">Qtrade Investor</a></li>
            <li><a href="#">VirtualWealth®</a></li>
            <li><a href="#">Credit Counselling Society</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Tools</h3>
          </div>
          <ul class="link-list">
            <li><a href="#">Find an ATM</a></li>
            <li><a href="#">Calculators</a></li>
            <li><a href="#">Text Us</a></li>
            <li><a href="#">iPhone App</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Security</h3>
          </div>
          <ul class="link-list">
            <li><a href="#">Internet Security</a></li>
            <li><a href="#">Reporting Identity Theft</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>                               
        </div>
      </div>
      
      <div class="column">
        <div class="footer-column">
          <div class="footer-header" id="contact">
            <h3>Contact Us</h3>
            
            <ul class="link-list has-text-weight-light contact">
              <li>
                <a href="tel:+1-604-856-7761">
                  <span class="icon">
                    <i class="fa fa-lg fa-phone"></i>
                  </span>
                  +1 604-856-7761
                </a>
              </li>
              <li>
                <a href="mailto:info@mtlehman.com">
                  <span class="icon">
                    <i class="fa fa-lg fa-envelope-o"></i>
                  </span>                        
                  info@mtlehman.com                       
                </a>
              <li/>
              <li>
                <a href="https://fb.com/MtLehmanCreditUnion">
                  <span class="icon">
                    <i class="fa fa-lg fa-facebook-official"></i>
                  </span>                        
                  Facebook
                </a>
              </li>
                           
            </ul>
            
            <h3>Branch</h3>
            <ul class="link-list has-text-weight-light contact" style="margin-bottom:0px;">
              <li>
                <a href="#" style="line-height:1em;">
                  <span class="icon">
                    <i class="fa fa-lg fa-map-marker"></i>
                  </span>                        
                  5889 Mt Lehman Road
                </a>
              </li>              
            </ul>
            
            <p class="has-text-weight-light">
              Tue <span class="is-pulled-right">10:00am - 5:30pm</span><br/>
              Wed <span class="is-pulled-right">10:00am - 5:30pm</span><br/>
              Thu <span class="is-pulled-right">10:00am - 5:30pm</span><br/>
              Fri <span class="is-pulled-right">10:00am - 6:00pm</span><br/>
              Sat <span class="is-pulled-right">9:30am - 1:00pm</span><br/>
              Sun &amp; Mon <span class="is-pulled-right">Closed</span><br/>
            </p>      
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
</footer>
