<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/images/logos/mountlehman.png" alt="">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-menu" class="navbar-menu is-static">

            <div class="navbar-end">
                <a href="#" class="navbar-item is-secondary">
                    Status
                </a>
                <a href="#" class="navbar-item is-secondary">
                    Products
                </a>
                <a href="/why-us/" class="navbar-item is-secondary">
                    About
                </a>
                <a href="#contact" class="navbar-item is-secondary">
                    Contact
                </a>
                <a href="https://www.mtlehman.com/" class="navbar-item">
                    <span class="button signup-button rounded secondary-btn raised">
                        Online Banking
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
